body {
    background: linear-gradient(to left, #101d23, #89b3c7, #101d23);
    font-family: Verdana, Courier, monospace;
}

ul {
    padding-left: 1.5em;
}

#timer {
    background: dimgrey;
    color: white;
}

#gitlog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -128; /* heh heh heh */
    display: block;
    clear: both;
    word-wrap: break-word;
    opacity: 0.2;
    color: #101d23;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}
#gitlog:before {
    content: attr(data-content);
}

.hero-unit {
    background: black;
    opacity: 0.5;
    color: white;
    padding: 1%;
}

