/*
 * common styles
 */

body {
    background: linear-gradient(to left, #101d23, #89b3c7, #101d23);
    font-family: Verdana, Courier, monospace;
    padding-top: 70px;
}

ul {
    padding-left: 1.5em;
}

#timer {
    background: dimgrey;
    color: white;
}

#gitlog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -128; /* heh heh heh */
    display: block;
    clear: both;
    word-wrap: break-word;
    opacity: 0.2;
    color: #101d23;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}
#gitlog:before {
    content: attr(data-content);
}

.hero-unit {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1%;
}

/*
 * notes & script  styles
 */

#note-container, #script-container {
    background: rgba(16, 29, 35, 8);
    color: rgba(116, 129, 135, 1);
    border: 1px solid darkgray;
    width: 80%;
    float: right;
    padding: 10px;
    white-space: pre-wrap;
}

#note-list, #script-list {
    width: 20%;
    float: right;
}
