<% include sections/head %>

<% include sections/navbar %>

        <div class="hero-unit">
            <div class='page-header'>
                <h1> <%= subject %> </h1>
            </div>
            <p class='body'>
                <%= html %>
            </p>
            
        </div>


<% include sections/foot %>
