<div id='debug' class='alert alert-danger alert-warning' role='alert'>
    <strong>FYI!</strong><br/>
    This website is maintained only for personal, archival reasons.
    My new homepage can be found <a style="color:black;" href="http://www.jmjanzen.com">here</a>.
</div>
