<div id='gitlog'></div>
<script type='text/javascript'>

    var counter   = setInterval(timer, 1);
    function timer() {
        var day           = (24 * 60 * 60 * 1000);
        var now           = new Date();
        var graduation    = new Date('April 19, 2016');
        var remainingMili =
            Math.round(Math.abs(now.getTime() - graduation.getTime()));
        var remainingDays =
            Math.round(Math.abs(now.getTime() - graduation.getTime()) / (day));
        $('#timer').html(remainingMili
            + 'ms until graduation (or '
            +  remainingDays + ' days)');
    }
    $.ajax({
        url: '/getGitLog',
        success: function (result) {
            $('div#gitlog').attr('data-content', result.content);
        },
        error: function (error) {
            console.log('error', error);
        }
    });
    $( document ).ready(function () {
        $('a').click(function (event) {
                var which = $(this).text()
            // remove present content, and load new from server
            $.ajax({
                url: '/body/' + which,
                success: function (result) {
                    $('p.body').html('');
                    $('ul.nav li').siblings('.active').removeClass('active');
                    $('ul.nav li a:contains("' + which + '")').parent().addClass('active');
                    $('p.body').html(result.data.content);
                    $('div.page-header h1').html(result.subject);
                },
                error: function (result) {
                    console.error('Error:', result);
                }
            });
        });
    });
</script>
</body>

