<div id='gitlog'></div>
<script type='text/javascript'>

    var navs = ['home', 'projects', 'about', 'contact'];
    var here = 0;
    var counter   = setInterval(timer, 1);
    function timer() {
        var day           = (24 * 60 * 60 * 1000);
        var now           = new Date();
        var graduation    = new Date('April 19, 2016');
        var remainingMili =
            Math.round(Math.abs(now.getTime() - graduation.getTime()));
        var remainingDays =
            Math.round(Math.abs(now.getTime() - graduation.getTime()) / (day));
        $('#timer').html(remainingMili
            + 'ms until graduation (or '
            +  remainingDays + ' days)');
    }
    $.ajax({
        url: '/getGitLog',
        success: function (result) {
            $('div#gitlog').attr('data-content', result.content);
        },
        error: function (error) {
            console.log('error', error);
        }
    });

    $( document ).ready(function () {
        $('div#navbar a').click(function (event) {
            if ((which = $(this)
              .not('#timer, .navbar-brand')
              .text()) !== '') {
                here = navs.indexOf(which);
                navigate(which, here);
            }
        });

        // collapse navbar on click anywhere (mobile)
        $(document).click(function () {
            $('.navbar-collapse').collapse('hide');
        });

        $(document).keydown(function (event) {
            switch (event.which) {
                case 74: // j: scroll down
                    window.scrollBy(0, 30);
                    break;
                case 75: // k: scroll up
                    window.scrollBy(0, -30);
                    break;
                case 72: // h: prev nav
                case 37:
                    var from = here;
                    here = here <= 0 ? 3 : here - 1;
                    var to  = navs[here % navs.length];
                    navigate(to, from);
                    break;
                case 76: // l: next nav
                case 39:
                    var from = here;
                    here = here >= navs.length - 1 ? 0 : here + 1;
                    var to = navs[here % navs.length];
                    navigate(to, from);
                    break;
            }
        });
    });

    function navigate(to, from) {
        // remove present content, and load new from server
        /*
         * check if content already loaded from server,
         * if it is, just swap visibility of present and
         * desired content
         */
        if ($('div.body div#body-' + to).length === 0) {
            $.ajax({
                url: '/body/' + to,
                success: function (result) {
                    // update navbar
                    updateNav(to);
    
                    // update content
                    $('div.body div')
                      .not('#body-' + navs[here])
                      .css('display', 'none');
                    $('div.body')
                      .append(result.data.content);
    
                    // update title
                    $('div.page-header h1')
                      .html(result.data.subject);
                },
                error: function (result) {
                    console.error('Error:', result);
                }
            });
        } else {
            // update navbar
            updateNav(to);

            // update content
            $('div.body div')
                .not('#body-' + navs[here])
                .css('display', 'none');
            $('div.body div#body-' + to)
                .css('display', 'block');

            // update title
            $('div.page-header h1')
                .html(navs[here]);
        }
    }

    function updateNav(to) {
        $('ul.nav li')
            .siblings('.active')
            .removeClass('active');
        $('ul.nav li a:contains("' + to + '")')
            .parent()
            .addClass('active');
    }
</script>
</body>

