<!DOCTYPE html>
<html lang='en'>

<head>
    <title>JM Janzen</title>
    <base href='/'>
    <link rel="icon" href="images/favicon.ico?v=2" type="image/x-icon">
    <meta charset='utf-8'>
    <meta name='description' content="JM Janzen's personal foothold on the internet" />
    <meta name='viewport' content='width=device-width'>
    <meta name='theme-color' content='#101d23'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
