<nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='https://github.com/jm-janzen'>
                <span style='margin-bottom:20px;'>
                    <img src='views/images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png' alt="JM's github page"/>
                    JM Janzen
                </span>
            </a>
            <ul class='nav navbar-nav'>
                <li <% if (focus == 'HOME') { %> class='active' <% } %> >
                    <a href='#'>home</a>
                </li>
                <li <% if (focus == 'PROJECTS') { %> class='active' <% } %> >
                    <a href='#'>projects</a>
                </li>
                <li <% if (focus == 'ABOUT') { %> class='active' <% } %> >
                    <a href='#'>about</a>
                </li>
                <li <% if (focus == 'CONTACT') { %> class='active' <% } %> >
                    <a href='#'>contact</a>
                </li>
                <li style='margin-right:0;'>
                    <a id='timer'>
                        // timer goes here
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style='margin-top:5%;' >

