<% include sections/head %>

<style type='text/css'>

.gear {
    animation: gear-spin 1s infinite;
    font-size: 2em;
}
@keyframes gear-spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@-moz-keyframes gear-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes gear-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

</style>

<div class='hero-unit'>
    <div class='page-header'>
        <h1> <%= subject %> </h1>
    </div>
    <div class='container'>
        <div class='alert alert-info' style='text-align:center;'>
            <span class='gear glyphicon glyphicon-cog' style='display:none;'></span>
            <strong style='display:inline-block;'></strong>
            <p style='display:inline-block;'></p>
        </div>
    </div>
</div>

<script type='text/javascript'>

$(document).ready(function () {

});

function updateStatus(status, title, message) {
    console.log(status, title, message);

    var a = $('[class^="alert"]');
    var b = $('[class^="alert"] strong');
    var c = $('[class^="alert"] p');

    if (status === 'alert-info') {
        b.css('display', 'none');
        c.css('display', 'none');
    } else {
        a.attr('class', 'alert ' + status);
        b.text(title).css('display', 'inherit');
        c.text(message).css('display', 'inherit');
    }
}
function startLoading() {
    $('span.gear').css('display', 'block');
    updateStatus('alert-info', '', '');
}
function doneLoading() {
    $('span.gear').css('display', 'none');
}
</script>

<% include sections/foot %>

<!-- unregister keydown even handlers (interfering with data entry) -->
<script type='text/javascript'>
    $(document).ready(function () {
        $(document).off('keydown');
    })
</script>
