<% include sections/head  %>

<% include sections/navbar %>

    <div class="hero-unit">
        <h1> <%= subject %> </h1>
        <p>
            email: <a href="mailto:jmjanzen@gmail.com">jmjanzen@gmail.com</a>
        </p>
    </div>

<% include sections/foot %>
