<% include sections/head  %>

<% include sections/navbar %>

    <div class="hero-unit">
        <div class='page-header'>
            <h1> <%= subject %> </h1>
        </div>
        <p>
            email: <a href="mailto:jmjanzen@gmail.com">jmjanzen@gmail.com</a>
        </p>
    </div>

<% include sections/foot %>
