<% include sections/head %>

<body>

<%
    var httpCode = Object.keys(httpStatus);
    var httpMessage = httpStatus[httpCode];
%>

<div class='jumbotron'>
    <div id='status-jumbotron' class='container' >
        <div style='float: left; width: 50%;'>
            <h1> <%= httpCode  %> </h1>
            <p>
                <span class='glyphicon glyphicon-info-sign'></span>
                <%= httpMessage %>
            </p>
        </div>
        <div style='justify-content: center; display: flex;'>
            <p>
            <a href='/'>Go Back Home</a>
            </p>
        </div>
    </div>
</div>


</body>
