<!DOCTYPE html>
<html lang='en'>

<head>
	<title>JM Janzen - index</title>
<base href='/'>
	<meta charset='utf-8'>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
	<link type="text/css" rel="stylesheet" href="views/style.css" />
</head>
<body>
<h1> hello </h1>
<div id='container'>
	<div id='timer'>
		// timer

	</div>
</div>

<script>
	$(document).ready(function () {

		var remaining = 6666;
		var counter   = setInterval(timer, 10);
		function timer() {
			remaining = remaining - 1;
			if (remaining <= 0) {
				clearInterval(counter);
				console.log('done');
				return;
			}
			$('div#timer').html(beautify(new Date()));
		}
		function beautify(date) {
			return (date.getDate()
			  + '/' + date.getMonth() + 1
			  + '/' + date.getFullYear()
			  + ' ' + date.getHours()
			  + ':' + date.getMinutes()
			  + ':' + date.getSeconds()
			  + ':' + date.getMilliseconds());
		}
	});

</script>
</body>
