<% include sections/head %>

<% include sections/navbar %>

<% if (debug_mode) { %>
    <% include sections/debug %>
<% } %>

        <div class="hero-unit">
            <div class='page-header'>
                <h1> <%= subject %> </h1>
            </div>
            <div class='body'>
                <%- content %>
            </div>
        </div>

<% include sections/foot %>
