<% include sections/head %>

<% include sections/navbar %>

        <div class="hero-unit">
            <div class='page-header'>
                <h1> <%= subject %> </h1>
            </div>
            <div class='body'>
                <p>
                    And welcome. This site is mostly for my own enjoyment and elucidation, so it may go down from time-to-time, or throw
                    some interesting errors.  If you've got feedback of any sort, please feel free to leave a comment at the github repo
                    <a href='https://github.com/jm-janzen/EC2-facer'>EC2-facer</a>. While you're there, you can see how I'm running this
                    server - which, in my opinion, is at least as interesting than what it presents on the surface, here.
                </p>
                <p>
                    Other than that, there's the countdown timer above (I'm still deciding what to do with it once it reaches zero), and 
                    the ultra-cool looking background.  The latter is what I'm most pleased with.  It's a very simple little chain of
                    code: A githook (pre-push) which grabs some choice text from the output of `git log --patch,' which is then piped in
                    via an asynchronous HTTP request.  The result looks like vaguely code-y git-salad unless you choose to inspect
                    div#gitlog, but it keeps me on my toes, knowing that my server's source code will be splashed across the backdrop of
                    this website every type I type `git push.'
                </p>
            </div>
            
        </div>


<% include sections/foot %>
