<% include sections/head %>

<% include sections/navbar %>

<div class="hero-unit">
    <div class='page-header'>
        <h1> <%= subject %> </h1>
    </div>
    <div class='body' style='overflow:hidden;'>
        <pre id='note-container'>
            // note text goes here
        </pre>
        <div id='note-list'>
        <% var i = 0;
        for (note in notes) { %>
            <a id='<%=titles[i]%>' href='/notes/#'><%= note %></a> <br/>
        <% i++
        } %>
        </div>
        <pre id='dl-link-container' style='display:none;'>
        </pre>
    </div>
</div>

<script type='text/javascript'>

$('div#note-list a').click(function (event) {
    var which = $(this)
      .attr('id');
    console.log(which);
    $.ajax({
        url: '/notes/' + which,

        // load file content to screen:
        complete: function (result) {
            result = JSON.stringify(result.responseText)
              .replace(/\\n/g, '\n')
              .replace(/\\t/g, '\t')
              .replace(/\\\"/g, '"')
              .slice(1, -1);
            $('pre#note-container')
              .text(result);

            // add/update download link:
            $('div.body a#dl-link')
              .remove();
            $('pre#dl-link-container')
              .append('<a id="dl-link" href="/notes/'
                + which + '.txt">download '
                + which + '.txt</a>')
              .show();
        }
    });
});

</script>

<% include sections/foot %>
