<% include sections/head  %>

<% include sections/navbar %>

<div class='hero-unit'>
    <div class='page-header'>
        <h1> <%= subject %> </h1>
    <p class='body'>
    </p>
    </div>
</div>

<% include sections/foot %>
