<% include sections/head %>

<% include sections/navbar %>

<div class="hero-unit">
    <div class='page-header'>
        <h1> <%= subject %> </h1>
        <a href='https://github.com/jm-janzen/scripts'>github link</a>
    </div>
    <div class='body' style='overflow:hidden;'>
        <pre id='script-container'>
            // script text goes here
        </pre>
        <div id='script-list'>
        <% var i = 0;
        for (script in scripts) { %>
            <a id='<%=titles[i]%>' href='/scripts/#'><%= script %></a> <br/>
        <% i++
        } %>
        </div>
        <pre id='dl-link-container' style='display:none;'>
        </pre>
    </div>
</div>

<script type='text/javascript'>

$('a').click(function (event) {
    var which = $(this)
      .attr('id');
    console.log(which);
    $.ajax({
        url: '/scripts/' + which,
        complete: function (result) {

            // load file content to screen:
            result = JSON.stringify(result.responseText)
              .replace(/\\n/g, '\n')
              .replace(/\\t/g, '\t')
              .replace(/\\\"/g, '"')
              .slice(1, -1);
            $('pre#script-container')
              .text(result);

            // add/update download link:
            $('div.body a#dl-link')
              .remove();
            $('pre#dl-link-container')
              .append('<a id="dl-link" href="/scripts/'
                + which + '.sh">download '
                + which + '.sh</a>')
              .show();
        }
    });
});

</script>

<% include sections/foot %>
