            <p>
                Firstly, I owe my love of programming entirely to Doom (video-game) and its excellent mapping & modding community.
                If it had not been for the the patient experts on various Doom editing forums I might never have realized the joy of
                writing a piece of code and having it dramatically impact the virtual spaces I so love to inhabit.
            <p>
            </p>
                As a result, most of my early projects (before enrolling in college for a programming diploma) were not strictly web or
                application based, but little scripts (written in a language similar to C) that 'enhanced' the game I so adore.
            </p>
