    <p>
        <ul>
            <li><strong>This Website</strong> (2016 - present)</li>
                <ul>
                    <li>DNS
                    </li>
                    <li>AJAX & Express
                    </li>
                </ul>
            </li>
            <li><strong>Facer Server</strong> (2016 - present)</li>
                <ul>
                    <li>AWS - EC2
                    </li>
                    <li>NodeJS server
                    </li>
                    <li>NAT Filtering (iptables)
                    </li>
                    <li>Githooks
                    </li>
                </ul>
            <li><strong>Navpad CLI</strong> (2015 - present)</li>
                <ul>
                    <li>Bash phase
                    </li>
                    <li>C phase
                    </li>
                    <li>C++ phase
                    </li>
                </ul>
            </li>
            <li><strong>Monochrome Mapping Project</strong> (2012 - 2013, Doom (video-game))</li>
                <ul>
                    <li><a href="http://www.doomworld.com/vb/wads-mods/62724-release-monochrome-mapping-project-latest-fix-august-1st-2013/" >
                        Project 'homepage' (Doomworld forum)</a></li>
                    <li><a href="https://www.dropbox.com/s/qfngupul1soy24m/DWMMP.txt">
                        Project Readme document (Dropbox)</a></li>
                    <li>A disaster of a Doom community project that I led. My team and I competed directly with a sister project, which
                        was started at about the same time.  We beat them to release by two years (their project is still ongoing), but the
                        quality and adherence to standards of our project suffered.  I learned several valuable lessons while undertaking
                        this project.</li>
                    </li>
                </ul>
            <li><strong>The Dreaded Word</strong> (2013, Doom)
                <ul>
                    <li><a href="http://www.doomworld.com/vb/wads-mods/64518-wip-the-dreaded-word-1-of-3-levels-describing-a-journey-from-ruins-to-techbase/">
                        Project 'homepage' (Doomworld forum)</a></li>
                    <li>Another Doom project - a single map that I worked on, implementing feedback from community playtesters.
                        This one went a lot more smoothly.</li>
                </ul>
            </li>
            <li><strong>College Programmes & Applications</strong>
                <ul>
                    <li>Too many to mention, and unmentioned because while some of them may have been rather elegant, not a one
                        was especially thrilling or even satisfying to use. They were written with an eye, firstly to learning, and secondarily
                        to satisfy grading criteria.  That said, I enjoyed almost every moment of designing, writing, and testing these projects.</li>
                    <li>As an aside, I will mention one key difference between year 1 and year 2 of programming classes: During the first year
                        I could quite easily sit and start coding, and know that if I threw enough time at any project, that it would eventually be
                        completed to satisfaction. I likened it to mindlessly shovelling snow.<br/>
                        The sharp contrast came in semester two, when I finally discovered the utility of design and planning.  Projects have become
                        more complicated, and now I design everything. We'd been told the importance of design earlier on in our education, but
                        I don't think a one of us took it to heart until recently.
                    </li>
                </ul>
            </li>
        </ul>
    </p>
